.timer {
    display: flex;
    gap: 4px;
    justify-content: center;
}
.timer_item {
    flex: 0 0 80px;
    text-align: center;
}
.timer_unit {
    background-color: #A3B6C7;
    border-radius: 6px;
    font-weight: 600;
    font-size: 26px;
    color: #FFFFFF;
}
.timer_unit_description {

}